:root {
  --bgcolor-1: #0378A6;
  --bgcolor-2: #022859;
  --bgcolor-3: #91e7ff;
  --txtcolor-1: #031744;
  --txtcolor-2: #F1F1F2;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--bgcolor-3);
  margin: 0 0 0 0;
}

/* Sidebar */
.container {
  position: fixed;
  left: -0.1vh;
  top: 6vh;
  transition: 0.5s;
  z-index: 100;
}

.container:hover {
  left: 29vh;
}

.container:hover .sidenav {
  left: 0pt;
}

.sidenav {
  height: 100%;
  width: 30vh;
  position: fixed;
  top: 0;
  left: -30vh;
  background-color: var(--bgcolor-2);
  overflow-x: hidden;
  transition: 0.5s;
}

.sidenav a {
  padding: 1vh 0 1vh 2vh;
  text-decoration: none;
  font-size: 3.5vh;
  color: var(--bgcolor-1);
  display: block;
}

.sidenav a:hover {
  color: var(--txtcolor-2);
}

.sidenav a.active {
  background-color: var(--bgcolor-1);
  color: var(--txtcolor-2);
}


/* Header */
#header {
  background-color: var(--bgcolor-1);
  color: var(--txtcolor-1);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  transition: 0.2s;
  z-index: 8;
}

.tab {
  background-color: var(--txtcolor-2);
  color: var(--txtcolor-1);
  position: fixed;
  top: 75px;
  padding-left: 28.5%;
  font-size: 20px;
  width: 100%;
  transition: 0.2s;
  z-index: 9;
  overflow: auto;
}

.tab a {
  color: var(--txtcolor-1);
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 2pt;
}

.tab a:hover {
  background: linear-gradient(to top, var(--bgcolor-3) 0%, var(--bgcolor-3) 5%, var(--txtcolor-2) 15%,var(--txtcolor-2) 100%);
}


/* The Page */
#article {
  margin: 120px 3% 0 3%;
}

.leftBox {
  float: left;
  display: ;
  width: 25%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Segoe UI';
  font-size: 13px;
  text-align: center;
  border-radius: 50px;
  margin: 0 0 25px 0;
  padding-top: 15px;
  overflow: auto;
}

.leftBox h1,h2,h3 {
  margin: 0;
  color: var(--txtcolor-1);
}

.leftbox h2 img {
  display: inline;
  width: 30px;
  vertical-align: middle;
}


.rightBox {
  float: right;
  display: inline-block;
  background-color: white;
  border: 1px solid var(--bgcolor-2);
  width: 71%;
  overflow: auto;
  margin-bottom: 1%;
  padding: 0 0 2% 2%;
}

.rightBox h3 {
  color: var(--bgcolor-1);
  padding: 10pt 5pt 0pt 1pt;
  display: inline-block;
  border-bottom: solid var(--bgcolor-2);
  margin-bottom: 10pt;
}

.rightBox table {
  line-height: 25pt;
  font-size: 14pt;
  font-weight: bold;
  color: var(--txtcolor-1);
  padding-left: 20pt;
}